.footer {
    background: #f7f7f7;
  }
  

  
  .footer .bottom {
    padding-top: 1rem;
    text-align: center;
  }

  
  
 
  .footer .bottom .credit {
    font-size: 1rem;
    color: #666;
    padding: 1rem;
  }
  
  .footer .bottom .credit span {
    color: #27ae60;
  }
  